.container{
    max-width: 1120px;
    margin:2rem auto;
    padding: 2rem;
    background-color: #17181f;
    border-radius: 6px;

.edit{
    font-size:1.3rem;
    color:#ffb600;
    font-weight:bold;
    margin-right: 30px;
    flex:1;
    display: flex;
    margin-bottom: 10px;

    button{
        margin-top: 2px;
        background: transparent;
        align-items: center;
        justify-content:center;
        border:none;
    }
    
    
}

    form{
        display: flex;
        align-items: center;
        justify-content: center;

        input{
            width:90%;
            height: 50px;
            background-color: #20212c;
            border:1px solid #424242;
            border-radius: 6px;
            padding: 3px 10px;
            color:#fff;
        }

        button{
            height: 50px;
            width: 10%;
            background-color: #ffb600;
            border:0;
            border-radius: 6px;
            margin-left: 10px;
        }
    }

    h1{
        color:#fff;
        margin-Top:1rem;

    }
}

.taskList{
    background-color: #20212c;
    margin: 1rem;
    padding: 0.7rem;

    p{
        color: #fff;
        font-size: 1rem;
        line-height: 150%;
        cursor: pointer;
    }
}

.actions{
    width: 100%;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    width: 100%;
    margin-top:2rem;
    align-items: center;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        data{
            color: #ffb600;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    button{
        background:transparent;
        align-items: center;
        justify-content: center;
        display: flex;
        border:0;

        &+button{
            margin-left: 5px;
        }
        span{
            color:#fff;
            margin-left:5px;
            cursor: pointer;
        }
    }
}

.vipArea{
    max-width: 1120px;
    background-color: #17181f;
    margin:1rem auto;
    padding: 2rem;
    border-radius: 6px;

    h3{
        color: #ffb600;
        font-size:2rem;
    }

    div{
        display: flex;
        margin-top: 1rem;
        align-items: center;
        data{
            color:#fff;
            margin-left:10px;
            font-size: 1.4rem;
        }
    }
}

.criado{
    color:#ddd;
    font-size: 20px;
    svg{
        margin-right: 10px;
    }
    p{
        font-size:17px;
        margin-top:20px;
        line-height: 150%;
        color: #fff;

    }
}

.date{
    color:#ffb600;
    margin-left: 5px;
}

.donateContain{
flex-direction: row;
display: flex;
align-items: center;
}

@media(max-width:730px){
    .container{
        form{
            input{
                width: 80%;
            }
        }
    }
    
}